
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,500;1,700&family=Shrikhand&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


//variables
$color_primaire:#9356DC;
$color_secondaire:#FF79DA;
$color_tertiaire:#99E2D0;
$anim-dur :2000ms;
$anim-delay:300ms;
$anim-bloc:100ms;
 .loader
 {
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  inset:0;
  z-index:1;
  background: #FFFF;
  border-bottom: #9356DC;
 animation:disspear 500ms 3000ms  forwards;
  transform-origin:center;
 }
  .loader::after{
    content: "";
    width:100px;
    height:100px;
    border:5px solid #353535;
    border-radius: 50%;
    border-bottom-color:#9356DC ;
    animation: rot 3000ms linear infinite;
  }
 
@keyframes disspear {
  to{
    transform:scale(0);
   opacity:0;
  }

 }

 @keyframes rot {
  to{
    transform:rotate(360deg);
  }

 }

header {
  @media (max-width:768px)
  {
     width:95%;
     height: auto;
     overflow-x: hidden;
    
  }
  
  width:100%;
  height:auto;
  overflow-x: hidden;
  background:#FFFF;
  text-align: center;
  padding: 1.3rem;
  padding-left:0;
  margin:0 auto;
 position:relative;
 box-shadow: 0 2px 4px rgb(0, 0, 0,15);
 nav
 {
  
    width: 95%;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
  

i{
 
  position:absolute;
  left:24px;
  top:41.7%;
  width:17.2px;
  height:16px;
  color:#353535;
 }
 &:hover{
  i {
    transform: scale(1.01);
  }
 }
h1 
{
  
    width:95%;
    font-size:30px;
    height: auto;
    text-align: center;
    margin-left:7%;
    font-family:'Shrikhand',sans-serif; ;
    font-style: normal;
    color: #101010;
  
    
 

}
 }
}
html{
  width: 100%;
  height: auto;
     }
body {
  @media (max-width:768px) {
    width:100%;
    height: auto;
    overflow-x: hidden;
    
    
  }
@media (min-width:768px) and (max-width:992px){
    width:100%;
    height: auto;
    background:#FFFFFF;
    font-family: 'roboto','Shrikhand',sans-serif;
    overflow-x: hidden;
    
}
    @media (min-width:992px) {
      max-width: 1900px;
    width:100%;
    background:#FFFFFF;
    font-family:'roboto', sans-serif;
    overflow-x: hidden;
    margin: 0 auto;
}

} 
  

 /*footer*/
footer{
  @media (max-width:768px) {
    width:95%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    background:#353535;
    padding-top: 15px;
    padding-bottom:15px ;
    padding-left:25px;
    margin:0;
    overflow-x: hidden;
  }
  @media (min-width:768px) and (max-width:992px) {
    width:100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    background:#353535;
    padding-top: 15px;
    padding-bottom:15px ;
    padding-left:25px;
    margin-left:0;
    overflow-x: hidden;
    
    
  }
 @media (min-width:992px) {
  max-width: 1900px;
  background:#353535;
  width:100%;
  overflow-x: hidden;
   display: flex;
   justify-content:end;
   flex-direction:row-reverse;
   
   
 }
.footer_lists
{
  @media (max-width:768px) {
    width:90%;
    height: auto;
    flex-direction: column;
    align-items: start;
    padding-left: 0;
  }
 
 @media (min-width:992px){
  width:auto;
 display: flex;
 justify-content: flex-end;
 align-items: baseline;
 flex-direction: row-reverse;
 gap: 2rem;
 margin-right:3rem;
 }
 .title_footer{
  @media (max-width:768px) {
    width:90%;
    height: auto;
    font-size: small;
  }
  
    font-family:'shrikhand',sans-serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
      color: #FFFFFF;
    
    }
    ul {
      
      @media (max-width:992px){
        display:block;
        padding-left:0;
        flex-direction: column;
        
      }
      @media (min-width:992px) {
      display: flex;
      flex-direction: row;
      gap:10px;
      justify-items: center;
      }
      li 
      {
        @media (max-width:768px) {
          width:90%;
          height: auto;
          flex-wrap: wrap;
          display: flex;
        }
      list-style-type:none;
      color:#FFFFFF;
      }
      span 
      {
        @media (max-width:768px) {
          width:90%;
          height: auto;
          font-family: 'roboto',sans-serif;
          flex-wrap: wrap;
          font-size: small;
          
          
        }
       @media (min-width:768px) and (max-width:992px){
         width: auto;
         height: auto;
         font-family: 'roboto',sans-serif;
         font-size: 16px;
        font-weight: 400;
        color:#FFFFFF;
        
        }
      @media (min-width:992px) {
          margin-top: 64px;
          margin-bottom: 30px;
          color:#FFFFFF;
      }
      }
      a 
       {
          text-decoration: none;
          color: #FFFFFF;
       }
       i 
       {
        margin-right:10px;
        color:#FFFF;
       }
     
}
}
}
//icon barre aside
.fa-solid.fa-mobile-screen-button 
{
  width:13.02px ;
  height: 19.9px;
}
.fa-solid.fa-list 
{
  width:16px;
  height:15.92px;
}
.fa-solid.fa-store 
{
  width: 18px;
  height: 17.91px;
  
}
