
form{
   @media (max-width:768px) {
      width:100%;
      flex-wrap: wrap;
      
    }
    width:100%;
    height: auto;
    padding-top: 0;
    margin-left: 0;
    margin-right:0 ;
    margin-bottom:0;
    background:#F3F3F3;
    .city
    {
    @media (max-width:768px) {
      width:100%;
      flex-wrap: wrap;
      
    }
        width:100%;
        height: auto;
        display: flex;
        align-items:center;
         justify-content:center;
         background:#EAEAEA;
         
         
   p 
   {
      @media( max-width:768px) {
         width: auto;
         flex-wrap: wrap;
         font-size: small;
       }
    width:auto;
    height: auto;
    font-size: 16px;
    font-family: 'roboto',sans-serif;
    font-weight: 500;
    font-style:normal;
    color:#353535;
   }
   i 
   {
      width: 12px;
      height: 16px;
      color: #353535;
      margin-right:17px ;
   }
}
}

