
  /*list restaurants*/
  .restaurants
  {
    @media (max-width:768px) {
      width:95%;
      height:auto;
      background:#F7F7F7; 
      margin:0 auto;
      padding-bottom: 1rem;
    }

    @media (min-width:768px)
    {
   width:95%;
   height: auto;
   background:#F7F7F7; 
   display: inline-block;
   margin:0 auto;
   padding-bottom: 1rem;
    }
    h2 
     {
      @media (max-width:768px) {
        width:90%;
        height: auto;
        font-size:24px;
        font-weight: 700;
        font-family: 'roboto',sans-serif;
        margin-left:7.46%;
        
      }
      @media (min-width:768px) and (max-width:992px) {
      width: auto;
      height: auto;
      font-size: 24px;
      font-weight: 700;
      font-style: normal;
      font-family:'Roboto',sans-serif;
      padding-top: 2rem;
      margin-left: 4.55%;
      text-overflow:ellipsis;
      white-space: nowrap;
      flex-wrap: nowrap;
      overflow: hidden;
      }
      @media (min-width:992px) {
        width: auto;
        height: auto;
        font-size: 24px;
        font-weight: 700;
        font-style: normal;
        font-family:'Roboto',sans-serif;
        padding-top: 2rem;
        margin-left: 12.5%;
        text-overflow:ellipsis;
          white-space: nowrap;
          flex-wrap: nowrap;
          overflow: hidden;
      }
    }
       .list_restaurant
       {
        @media (max-width:768px) {
          width:90%;
          height: auto;
          margin:0 auto;
          
        }
       @media (min-width:768px) and (max-width:992px) {
          width:92.26%;
           height:auto;
           display:flex;
           flex-direction:column;
           justify-content: center;
           margin: 0 auto;
           overflow-x: hidden;
            margin-bottom:3rem;
            padding-bottom:1.5rem ;
           gap:1.5rem;
           margin-top: 50px;
        }
        @media (min-width:992px) {
       width:95%;
       height: auto;
       display:flex;
       justify-content:center;
       flex-wrap: wrap;
       gap:95px;
       padding: 1.5rem;
      }
        .new
         {
          position: relative;
         &::before
          {
            @media (max-width:768px) {
              content: "Nouveau";
              position:absolute;
              right:3px;
              top:3px;
              width:auto;
              height:auto;
              font-size:small;
              font-weight: 100;
              background:$color_tertiaire;
              text-align: center;
              font-family:'roboto',sans-serif;
              display: grid;
              align-items: center;
              color:#008766;
              box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
              border-radius:3px;
              
            }
           content: "Nouveau";
          position:absolute;
          right:9px;
          top:8px;
          width:80px;
          height:29px;
          font-size:14px;
          background:$color_tertiaire;
          text-align: center;
          font-weight: 500;
          font-family:'roboto',sans-serif;
          display: grid;
          align-items: center;
          color:#008766;
          box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
          border-radius:2px;
         }
         }
       
       a 
       {  
        @media (max-width:768px) {
          width:95%;
          height:auto;
          background:#FFFF; 
          border:none;
          border-radius: 30px;
          margin-bottom: 1.5rem;
          text-decoration: none;
          padding-bottom: 10px;
          margin:0 auto;
         @include principal-shadow;
          
        }
       
        @media (min-width:768px) and (max-width:992px)  {
          width:95%;
          height:auto;
          background:#FFFF; 
          border:none;
          border-radius: 30px;
          margin-bottom: 1rem;
          text-decoration: none;
          padding-bottom: 10px;
          margin:0 auto;
         @include principal-shadow;
     }
       @media (min-width:992px) {
        width: 35%;
        height:200px;
        text-decoration: none;
         background:#FFFF;
         display: flex;
         border:none;
         border-radius:1rem;
         text-decoration: none;
         padding-bottom:20px ;
         @include principal-shadow;
       }
       
      &:hover{
        transform:scale(1.01);
      }
       .card
      {
        @media (max-width:768px) {
          width:100%;
          height:auto;
          border:2px solid #FFFF;
          border-radius: 10px ;
          margin-bottom: 15px;
          background: #FFFF;
          
          
          
        }
            width:100%;
             height:auto;
             position: relative;
              border-radius: 16px 16px 0 0 ;
              object-fit: cover;
        img 
        {
          @media (max-width:768px)
          {
            width: 100%;
            height: 60%;
            border-radius:10px 10px 0 0;
            object-fit: cover;
            background:#FFFF;
          }
         @media (min-width:768px) and (max-width:992px) {
          width:100%;
            height:auto;
            border:none;
            background:#FFFF;
            border-radius:16px 16px 0 0;
            object-fit: cover;
          
         }
         
        width: 100%;
        height:70%;
        border: none;
        border-radius: 16px 16px 0 0;
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;
        object-fit: cover;
        background:#FFFF;
         }
  
        h3
        {
          @media (max-width:768px) {
            width:95%;
            height:auto;
            font-size:18px;
            font-weight:700;
            overflow: hidden;
            color: #000000;
            
          }
        width:auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        font-family: 'roboto', sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
        text-align: center;
        color:#000;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
      
        .fa-heart {
          width: 22px;
          height:21px;
          color: white;
          margin-right: 10px;
          -webkit-text-stroke-width:1px;
          -webkit-text-stroke-color: grey;
        }
          .fa-heart::before {
            content: "\f004";
            transition: 1s;
          }
            .fa-heart:hover::before{
            cursor: pointer;
            -webkit-text-stroke-width: 0px;
             background:linear-gradient(193.33deg,$color_primaire 11.44%,$color_secondaire 123.93%);
            -webkit-background-clip: text;
            background-clip: text;
           -webkit-text-fill-color:transparent;
    
        }
        
        }
    span 
    {
      @media (max-width:768px) {
        width:95%;
        height:auto;
        font-size: 17px;
        font-weight: 300;
       flex-wrap: wrap  ;
       color:#000000;
        
        
      }
     width: auto;
     height:auto;
     font-family: 'roboto',sans-serif;    
     font-size: 17px;
     font-weight: 300;
     font-style: normal;
     margin-left: 10px;
     color:#000;
     } 
  }
  }
  } 
  }

  
  